@media only screen and (max-width: 1500px) {
    /* .form { width: 60%; */
    }
}

@media (max-width: 1024px) and (min-width:1025px){
    .form-control {
        font-size: 2rem;
    }


@media only screen and (max-width: 1100px) {

    .form{
        width: 65%;
    }
}


@media only screen and (max-width: 950px) {

    .form{
        width: 60%;
        padding: 20px;
    }
    .form h1 {
        border-bottom: 5px solid #006d4e;
        font-size: 35px;
        margin-bottom: 28px;
    }
}
  


    /* HAMBURGER */
@media only screen and (max-width: 780px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
     
    }
    #toggle:checked + .menu {
        display: block;
    }
/* ADMIN LOGIN */
.form {
    width: 60%;
    padding: 40px;
}


}

@media only screen and (max-width: 770px) {
    .form{
        width: 65%;
    }
}

 @media only screen and (max-width: 580px) {

        .form{
            width: 65%;
        }
        .form h1 {
            border-bottom: 5px solid #006d4e;
            font-size: 30px;
            margin-bottom: 25px;
        }
        }

 @media only screen and (max-width: 450px) {
    .form{
        width: 70%;
    }
            }
 @media only screen and (max-width: 370px) {
                .form{
                    width: 80%;
                }
                        }
    @media (max-width: 319px) and (min-width:250px){
    
}